/* .container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(44, 44, 44, 0.1);
    width: 300px;
} */
.item-list[b-bmk7owbtaj] {
    list-style: none;
    padding: 0;
}
.item-item[b-bmk7owbtaj] {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}