@{ViewData["Title"] = "Initial";}

<div class="container">
    <h1 class="mt-4">Tech Debt</h1>
    <div class="row mt-4">
        <div class="input-group col-sm">
        <input type="text" class="br-1 p-1 form-control" id="item-input" autocomplete="off" placeholder="Add new" />
        <button class="br-1 p-1 px-2 btn btn-primary" id="add-btn">Add</button>
        </div>
    </div>
    <div class="row">
        <ul id="item-list" class="item-list mt-3"></ul>
    </div>
</div>
@section Scripts {
    <script src="~/js/initial.js" type="module"></script>
}